* {
  box-sizing: border-box;
}
.navbar {
  position: sticky;
  top: 5px;
  background-color: #141414;
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px;
  overflow: auto;
}
.navbar li {
  float: left;
}
.navbar li a {
  padding: 0 10px;
  color: white;
  text-decoration: none;
}
.navbar li a:hover {
  font-family: cursive;
  background: #545454;
  color: aquamarine;
}

.header {
  text-align: center;
  background-color: azure;
  background-size: auto;
  font-size: 2.5em;
}
.header_para {
  font-weight: bold;
  text-align: center;
  background-color: antiquewhite;
  font-size: 0.7em;
}

#article-win {
  width: 35%;
  height: 40%;
}
#art1 {
  display: block;
  background-color: #545454;
  text-align: center;
  color: white;
}
#art2 {
  background-color: #545454;
  color: white;
}
#art3 {
  background-color: #545454;
  color: white;
}

#images {
  position: absolute;
  right: 20px;
  top: 200px;
}
img {
  padding: 20px;
  margin: 10px;
  display: block;
}
button {
  background-color: firebrick;
  color: white;
}
button:hover {
  width: 200px;
}
